.card{
	width:300px;
	height: 400px;
	background: #EBF5F4;
	border-radius:10px;
	display: flex;
	justify-content: center;
}

.card-img img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 10px;

}
.card-title{
	font-size: 20px;
}
.reyting{
	margin-top: 20px;
	font-size: 25px;
	color:green;
}
.reyting a {
	text-decoration: none;
	color:green;


}

.buy{
	font-size: 20px;
}